<div *ngIf="successMessage" class="alert alert-success fade in alert-dismissible">
    {{successMessage}}
</div>
<div class="row" *ngIf="cartProducts?.length">
    <div class="row">
        <div class="card col-md-4" style="margin-bottom: 15px;"
            *ngFor="let product of cartProducts | paginate: { itemsPerPage: 9, currentPage: p }">
            <img class="card-img-top" src="/assets/images/{{product.images}}" width="200px" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <h5>Price: ${{product.price}}</h5>
                <h6>SKU: {{product.sku}}</h6>
                <p class="card-text">{{product.description | slice: 0:150}}</p>
                <div>
                    <a style="margin-left: 20px;" [routerLink]="['/viewProduct', product.productId]"
                        class="btn btn-primary">View</a>
                    <a style="margin-left: 20px;" (click)="removeFromCart(product._id)" class="btn btn-primary">Remove
                        from Cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h3>Order Summary</h3>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">Sub Total</div>
                <div class="col-md-6">${{subTotalAmount}}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Delivery Charges</div>
                <div class="col-md-6">${{deliveryCharges}}</div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3"><b>TOTAL</b></div>
                <div class="col-md-3">${{totalAmount}}</div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <a class="btn btn-success block" (click)="onCheckout()">Checkout</a>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="!cartProducts?.length">
    <p class="text-center">No products in cart,
        <a [routerLink]="['/custProducts']">keep shopping</a></p>
</div>