<div class="row">
    <div class="card col-md-6">
        <img class="card-img-top" src="/assets/images/{{product.images}}" alt=" Product Image ">
    </div>
    <div class="col-md-6 ">
        <div class="card-body ">
            <h2>{{product.name}}</h2>
            <h4>SKU: {{product.sku}}</h4>
            <h4>Shop for: {{product.gender}}</h4>
            <h4>Category: {{product.category}}</h4>
            <h4>Price: {{product.price}}</h4>
            <p class="card-text ">{{product.description}}</p>
            <div>
                <a (click)="addToCart(product._id)" class="btn btn-primary ">Add to
                    Cart</a>
            </div>
        </div>
    </div>
</div>